# Python
**/__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Frontend
/web

# Backend
backend/.env
backend/scripts
backend/.env.example

# Editor / OS
.DS_Store
Thumbs.db

# Other
.data_inserts_
